html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.carousel {
  margin-bottom: 40px;
  height: 60vh;
  width: 100%;
  background: url("../img/sebastienetjuliette1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header-container {
  min-width: 100%;
  border-bottom: 8px solid #ef565d;
  height: 130px;
  line-height: 130px; }

@media (max-width: 1000px) {
  .header-container {
    height: 64px; }
  .header-container h2 {
    margin: 0 0 0 4px;
    padding: 0;
    line-height: 74px;
    float: left;
    font-size: 20px; }
  .header {
    position: fixed;
    top: 0;
    left: -84vw;
    min-height: 100vh;
    padding-top: 188px;
    width: 80vw;
    background: white;
    z-index: 100;
    transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.6); }
  .menuButton {
    cursor: pointer;
    margin-top: 12px;
    margin-left: 8px;
    height: 48px;
    width: 48px;
    float: left; }
  .header .menuButton {
    margin-top: 8px;
    position: absolute;
    top: 0;
    left: 0; }
  .menuButton svg {
    padding: 12px 0 0 12px;
    width: 24px;
    height: 24px; }
  .header.expanded {
    transition: transform 0.3s cubic-bezier(0.24, 1, 0.32, 1);
    transform: translate3d(84vw, 0, 0); }
  .header li.logo {
    position: absolute;
    top: 48px;
    left: calc(40vw - 60px);
    padding: 0;
    display: block;
    width: 120px;
    height: 100px;
    margin-top: 15px;
    background-image: url("../img/love-logo.png");
    border-top: none; }
  .header li {
    margin: 0;
    padding: 12px 24px;
    line-height: 1.5em;
    border-top: 1px solid #ededed; }
  .header li:last-child {
    border-bottom: 1px solid #ededed; }
  .header li a {
    color: #212121;
    text-decoration: none; } }

@media (min-width: 1000px) {
  .header-container h2 {
    display: none; }
  .header {
    width: 1000px;
    margin: 0 auto; }
  .menuButton {
    display: none; }
  .header li {
    float: left;
    width: calc((100% - 120px) / 6);
    text-align: center; }
  .header li.logo {
    display: block;
    width: 120px;
    height: 100px;
    margin-top: 15px;
    background-image: url("../img/love-logo.png"); }
  .header a {
    text-decoration: none;
    color: #212121; }
  .header a:hover {
    color: #29B6F6; } }

body {
  font-family: 'Josefin sans', 'Helvetica neue', 'Arial';
  font-size: 14px;
  width: 100%;
  height: 100%; }

.title {
  margin: 70px 0 20px 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  text-align: center; }

.separator {
  position: relative;
  margin: 0 auto 40px;
  height: 34px;
  width: 64px;
  background: url("../img/separator.png"); }

.separator::before {
  content: " ";
  position: absolute;
  left: calc(-30vw - 20px);
  top: 16px;
  height: 1px;
  width: 30vw;
  background: lightgray; }

.separator::after {
  content: " ";
  position: absolute;
  left: 84px;
  top: 16px;
  height: 1px;
  width: 30vw;
  background: lightgray; }

.text-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 16px;
  line-height: 1.48em; }

.text-content img {
  margin: 24px 0 24px -5%;
  width: 110%; }

.text-content a {
  color: #ef565d; }

.text-content ul {
  margin: 14px;
  list-style: circle; }

.planning {
  overflow: auto;
  max-width: 1200px;
  margin: 0 auto; }

.planning-table {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto 50px; }

.planning-table td.table-head {
  background-color: #ef565d;
  padding: 18px;
  color: #ffffff !important;
  font-size: 18px; }

.planning-table td {
  padding: 18px 12px;
  border: 1px solid #ccc; }

.planning-table td:first-child {
  color: #a1a1a1; }

.rsvp iframe {
  width: 100%;
  height: 976px; }

.footer {
  height: 300px;
  width: 100%; }
