@import 'reset';
@import 'carousel';
@import 'header';
@import 'variables';

body {
  font-family: 'Josefin sans', 'Helvetica neue', 'Arial';
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.title {
  margin: 70px 0 20px 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.separator {
  position: relative;
  margin: 0 auto 40px;
  height: 34px;
  width: 64px;
  background: url('../img/separator.png');
}

.separator::before {
  content: " ";
  position: absolute;
  left: calc(-30vw - 20px);
  top: 16px;
  height: 1px;
  width: 30vw;
  background: lighten($font-color, 70);
}

.separator::after {
  content: " ";
  position: absolute;
  left: 84px;
  top: 16px;
  height: 1px;
  width: 30vw;
  background: lighten($font-color, 70);
}

.text-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 16px;
  line-height: 1.48em;
}

.text-content img {
  margin: 24px 0 24px -5%;
  width: 110%;
}

.text-content a {
  color: $primary-color;
}

.text-content ul {
  margin: 14px;
  list-style: circle;
}

.planning {
  overflow: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.planning-table {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto 50px;
}

.planning-table td.table-head {
  background-color: $primary-color;
  padding: 18px;
  color: $font-white !important;
  font-size: 18px;
}

.planning-table td {
  padding: 18px 12px;
  border: 1px solid #ccc;
}

.planning-table td:first-child {
  color: lighten($font-color, 50);
}

.rsvp iframe {
  width: 100%;
  height: 976px;
}

.footer {
  height: 300px;
  width: 100%;
}
