.carousel {
  margin-bottom: 40px;
  height: 60vh;
  width: 100%;
  background: url('../img/sebastienetjuliette1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
