@import 'variables';

.header-container {
  min-width: 100%;
  border-bottom: 8px solid $primary-color;
  height: 130px;
  line-height: 130px;
}

@media (max-width: 1000px) {
  .header-container {
    height: 64px;
  }

  .header-container h2 {
    margin: 0 0 0 4px;
    padding: 0;
    line-height: 74px;
    float: left;
    font-size: 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: -84vw;
    min-height: 100vh;
    padding-top: 188px;
    width: 80vw;
    background: white;
    z-index: 100;
    transition: transform .2s cubic-bezier(0.4,0.0,1,1);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 8px 17px rgba(0,0,0,0.6);
  }

  .menuButton {
    cursor: pointer;
    margin-top: 12px;
    margin-left: 8px;
    height: 48px;
    width: 48px;
    float: left;
  }

  .header .menuButton {
    margin-top: 8px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .menuButton svg {
    padding: 12px 0 0 12px;
    width: 24px;
    height: 24px;
  }

  .header.expanded {
    transition: transform .3s cubic-bezier(0.24,1,0.32,1);
    transform: translate3d(84vw, 0, 0)
  }

  .header li.logo {
    position: absolute;
    top: 48px;
    left: calc(40vw - 60px);
    padding: 0;
    display: block;
    width: 120px;
    height: 100px;
    margin-top: 15px;
    background-image: url('../img/love-logo.png');
    border-top: none;
  }

  .header li {
    margin: 0;
    padding: 12px 24px;
    line-height: 1.5em;
    border-top: 1px solid lighten($font-color, 80);
  }

  .header li:last-child {
    border-bottom: 1px solid lighten($font-color, 80);
  }

  .header li a {
    color: $font-color;
    text-decoration: none;
  }
}

@media (min-width: 1000px) {
  .header-container h2 {
    display: none;
  }

  .header {
    width: 1000px;
    margin: 0 auto;
  }

  .menuButton {
    display: none;
  }

  .header li {
    float: left;
    width: calc((100% - 120px) / 6);
    text-align: center;
  }

  .header li.logo {
    display: block;
    width: 120px;
    height: 100px;
    margin-top: 15px;
    background-image: url('../img/love-logo.png');
  }

  .header a {
    text-decoration: none;
    color: $font-color;
  }

  .header a:hover {
    color: $font-hover-color;
  }
}
